.container{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: blue;
}
.button{
    padding: 5px 10px;
    cursor: pointer;
}
.button:disabled{
    cursor: not-allowed;
}